{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block titulo %} {% endblock %} </title>
    {% block css %} {% endblock %}
</head>
<body>
    <div>
        {# aqui vem a lista de cabeçalhos: #}
        <a href="/"> inicio </a>
        <br>
        <a href="/"> Menu </a>
    </div>
    {% block conteudo %} {% endblock %} 
</body>
</html>